# Git uses this file to determine which files and directories to ignore
# https://help.github.com/articles/ignoring-files

# Node.js
node_modules
npm-debug.log
tmp

# WebStorm
.idea/
*.ipr
*.iws
*.iml

# NPM
*.tgz